body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;

}

h1 {
    color: #901C1C;
    font-size: xx-large;
    font-weight: 500;
    padding-top: 1em;
}

main{
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photographer-section-figure:hover {
    background-color: #eae9e9;
}

.photographer-section-figure {
    overflow: hidden;
    margin: 0 auto;
}

.photographer-section-figure,
.photographer-section-figure figcaption {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.photographer-section-figure figcaption * {
    margin: 0.25em;
}

.photographer-section-figure img,
.photographer-section-figure h2 {
    cursor: pointer;
    white-space: nowrap;
}

.logo {
    padding-top: 2em;
    margin-left: 1em;
    height: 70px;
}

.index-infos-photographers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index-infos-photographers>* {
    margin: 0;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 200px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 60px;
    font-weight: 300;
}

.photographer_section article h3 {
    color: #901C1C;
    font-size: 24px;
    font-weight: 300;
}


.photographer_section article h4 {
    color: #000000;
    font-size: 16px;
}

.photographer_section article h5 {
    color: #757575;
    font-size: 16px;
}

.photographer_section article img {
    width: 300px;
    height: auto;
    object-fit: cover;
    object-position: center center;
}

.image-wrapper {
    height: 20em;
    width: 20em;
    overflow: hidden;
}

.image-wrapper {
    clip-path: circle(50% at center);
}

.image-wrapper[data-photographer-name="Mimi Keel"] img {
    transform: scale(1.5) translateY(-23px);
}

.image-wrapper[data-photographer-name="Ellie-Rose Wilkens"] img {
    transform: scale(2.5) translateY(50px);
}

.image-wrapper[data-photographer-name="Tracy Galindo"] img {
    transform: scale(1.2) translateY(0px) translateX(15px);
}

.image-wrapper[data-photographer-name="Nabeel Bradford"] img {
    transform: scale(1) translateY(-76px);
}

.image-wrapper[data-photographer-name="Rhode Dubois"] img {
    transform: scale(2.5) translateY(50px);
}

.image-wrapper[data-photographer-name="Marcel Nikolic"] img {
    transform: scale(2.5) translateY(50px);
}

@media screen and (max-width: 1400px) {
    .logo{
        height: 50px;
    }

    header h1{
        font-size: 1.5rem;
        margin-right: 1em;
    }

    .photographer_section{
        margin-top: 5em;
        gap: 5em;
    }

    .photographer_section article h2{
        font-size: 2rem;
    }
    .image-wrapper[data-photographer-name="Nabeel Bradford"] img {
        transform: scale(1.5) translateY(-51px);
    }
}